<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Services</title>

    </head>
    <body>
        {% for item in services %}
            <div class="">

            Service #{{item.name}} at <a href="http://127.0.0.1:{{ item.service_port }}">http://127.0.0.1:{{ item.service_port }}</a>;

            {% for c in item.components %}
                <p class="">
                Component {{ c.name }} working with port <a href="http://127.0.0.1:{{ c.port }}">http://127.0.0.1:{{ c.port }}</a>
                </p>
            {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
